<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="toLRN: SeafoodSim" Language="1033" Version="1.0.0.0" Manufacturer="Tokni International Megacorporation :)" UpgradeCode="b814b245-650c-4261-ac6a-c06afbb00cc1">
		<Package Id='*' Keywords='Installer' Description="Tokni toLRN:SeafoodSim installer"
        Comments='toLRN:SeafoodSim is an unregistered trademark of Tokni.' Manufacturer='Tokni OmniCorp' InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="Licence.rtf"/>
    <UI>
      <UIRef Id="WixUI_InstallDir"/>
      <!--<Publish Dialog="ExitDialog"
               Control="Finish"
               Event="DoAction"
               Value="InstallPreReq"
               >NOT Installed</Publish>-->
    </UI>
		<MajorUpgrade DowngradeErrorMessage="A newer version of SeafoodSim is already installed." />
    <Media Id="1" Cabinet="Cab1.cab" EmbedCab="yes" />
    
   
      <Feature Id="SeaFoodSimClient" Title="toLRN: SeafoodSim Client" Level="1">
        
        <ComponentGroupRef Id="SeafoodSimComponents" />
        
      </Feature>
    <!--<CustomAction Id="InstallPreReq" Return="check" Directory="TARGETDIR" ExeCommand="PrereqSetup\UE4PrereqSetup_x64.exe" />-->
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SeafoodSim" />
			</Directory>
		</Directory>
	</Fragment>
</Wix>