<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="54B24C6E-7E10-4063-8070-79500B4DE824" Name="SeafoodSim" Language="1033" Version="1.0.0.0" Manufacturer="Tokni sp/f" UpgradeCode="FA040DA4-F6B8-43EB-BF4C-CCBBA64C125E">
		<Package Id='*' Keywords='Installer' Description="SeafoodSim installer"
        Comments='SeafoodSim is an unregistered trademark of Tokni.' Manufacturer='Tokni sp/f' InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="Licence.rtf"/>
    <Feature Id="SeaFoodSimClient" Title="SeafoodSim Client" Level="1">
        
        <ComponentGroupRef Id="SeafoodSimComponents" />
        
      </Feature>
    <CustomAction Id="InstallPreReq" FileKey="UE4PrereqSetup_x64.exe" ExeCommand="" Return="asyncNoWait" />
    <UI>
      <UIRef Id="WixUI_InstallDir"/>
      
    </UI>
    <InstallExecuteSequence>
        <Custom Action="InstallPreReq" After="InstallFinalize">NOT Installed</Custom>
      </InstallExecuteSequence>
		<MajorUpgrade DowngradeErrorMessage="A newer version of SeafoodSim is already installed." />
    <Media Id="1" Cabinet="Cab1.cab" EmbedCab="yes" />
    
   
      
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="SeafoodSim" />
			</Directory>
		</Directory>
	</Fragment>
</Wix>