<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="Connect_to_Server.Bat" Guid="{8A00AF14-1B5A-42D1-9155-ECC144D07ABA}">
                <File Id="Connect_to_Server.Bat" KeyPath="yes" Source="c:\temp\windowsnoeditor\Connect to Server.Bat" />
            </Component>
            <Component Id="Manifest_DebugFiles.txt" Guid="{83BE886E-1BD6-488F-86EA-217BC225ECBE}">
                <File Id="Manifest_DebugFiles.txt" KeyPath="yes" Source="c:\temp\windowsnoeditor\Manifest_DebugFiles.txt" />
            </Component>
            <Component Id="Manifest_NonUFSFiles.txt" Guid="{EB13BEB2-2A63-4F14-9293-B61EB39CC994}">
                <File Id="Manifest_NonUFSFiles.txt" KeyPath="yes" Source="c:\temp\windowsnoeditor\Manifest_NonUFSFiles.txt" />
            </Component>
            <Component Id="SeaFoodSim48.exe" Guid="{97038F94-9642-426F-9A7E-ED2DB76D77A3}">
                <File Id="SeaFoodSim48.exe" KeyPath="yes" Source="c:\temp\windowsnoeditor\SeaFoodSim48.exe" />
            </Component>
            <Directory Id="Engine" Name="Engine">
                <Directory Id="Binaries" Name="Binaries">
                    <Directory Id="ThirdParty" Name="ThirdParty">
                        <Directory Id="Leap" Name="Leap">
                            <Directory Id="Win64" Name="Win64">
                                <Component Id="Leap.dll" Guid="{81FFCE98-34A8-44A9-9080-D8952E2E3023}">
                                    <File Id="Leap.dll" KeyPath="yes" Source="c:\temp\windowsnoeditor\Engine\Binaries\ThirdParty\Leap\Win64\Leap.dll" />
                                </Component>
                            </Directory>
                        </Directory>
                        <Directory Id="Ogg" Name="Ogg">
                            <Directory Id="Win64_1" Name="Win64">
                                <Directory Id="VS2013" Name="VS2013">
                                    <Component Id="libogg_64.dll" Guid="{33A5EE9F-4B77-40EB-A222-316382359A69}">
                                        <File Id="libogg_64.dll" KeyPath="yes" Source="c:\temp\windowsnoeditor\Engine\Binaries\ThirdParty\Ogg\Win64\VS2013\libogg_64.dll" />
                                    </Component>
                                </Directory>
                            </Directory>
                        </Directory>
                        <Directory Id="OpenVR" Name="OpenVR">
                            <Directory Id="OpenVRv000" Name="OpenVRv000">
                                <Directory Id="Win64_2" Name="Win64">
                                    <Component Id="openvr_api.dll" Guid="{ECC345BC-F398-43E8-B793-CFB65AF7E0B0}">
                                        <File Id="openvr_api.dll" KeyPath="yes" Source="c:\temp\windowsnoeditor\Engine\Binaries\ThirdParty\OpenVR\OpenVRv000\Win64\openvr_api.dll" />
                                    </Component>
                                </Directory>
                            </Directory>
                        </Directory>
                        <Directory Id="PhysX" Name="PhysX">
                            <Directory Id="APEX_1.3" Name="APEX-1.3">
                                <Directory Id="Win64_3" Name="Win64">
                                    <Directory Id="VS2013_1" Name="VS2013">
                                        <Component Id="ApexFrameworkPROFILE_x64.dll" Guid="{8041C4CA-AD44-4982-8F42-0679F01B40A9}">
                                            <File Id="ApexFrameworkPROFILE_x64.dll" KeyPath="yes" Source="c:\temp\windowsnoeditor\Engine\Binaries\ThirdParty\PhysX\APEX-1.3\Win64\VS2013\ApexFrameworkPROFILE_x64.dll" />
                                        </Component>
                                        <Component Id="APEX_ClothingPROFILE_x64.dll" Guid="{4AB7E211-1B5F-45D7-87B1-62020DDD8068}">
                                            <File Id="APEX_ClothingPROFILE_x64.dll" KeyPath="yes" Source="c:\temp\windowsnoeditor\Engine\Binaries\ThirdParty\PhysX\APEX-1.3\Win64\VS2013\APEX_ClothingPROFILE_x64.dll" />
                                        </Component>
                                        <Component Id="APEX_DestructiblePROFILE_x64.dll" Guid="{FA110101-802C-4AAC-9587-A1812362D75F}">
                                            <File Id="APEX_DestructiblePROFILE_x64.dll" KeyPath="yes" Source="c:\temp\windowsnoeditor\Engine\Binaries\ThirdParty\PhysX\APEX-1.3\Win64\VS2013\APEX_DestructiblePROFILE_x64.dll" />
                                        </Component>
                                        <Component Id="APEX_LegacyPROFILE_x64.dll" Guid="{623C942A-82C6-4578-9796-04E409963D41}">
                                            <File Id="APEX_LegacyPROFILE_x64.dll" KeyPath="yes" Source="c:\temp\windowsnoeditor\Engine\Binaries\ThirdParty\PhysX\APEX-1.3\Win64\VS2013\APEX_LegacyPROFILE_x64.dll" />
                                        </Component>
                                        <Component Id="APEX_LoaderPROFILE_x64.dll" Guid="{FD085F01-BF4B-4AA7-8DCE-F2F3820B65E5}">
                                            <File Id="APEX_LoaderPROFILE_x64.dll" KeyPath="yes" Source="c:\temp\windowsnoeditor\Engine\Binaries\ThirdParty\PhysX\APEX-1.3\Win64\VS2013\APEX_LoaderPROFILE_x64.dll" />
                                        </Component>
                                        <Component Id="APEX_ParticlesPROFILE_x64.dll" Guid="{4307DB64-FFA4-4241-B10E-AC660F7050B3}">
                                            <File Id="APEX_ParticlesPROFILE_x64.dll" KeyPath="yes" Source="c:\temp\windowsnoeditor\Engine\Binaries\ThirdParty\PhysX\APEX-1.3\Win64\VS2013\APEX_ParticlesPROFILE_x64.dll" />
                                        </Component>
                                    </Directory>
                                </Directory>
                            </Directory>
                            <Directory Id="PhysX_3.3" Name="PhysX-3.3">
                                <Directory Id="Win64_4" Name="Win64">
                                    <Directory Id="VS2013_2" Name="VS2013">
                                        <Component Id="nvToolsExt64_1.dll" Guid="{D00E1FC1-8ED7-4A1F-A843-AC50FC887050}">
                                            <File Id="nvToolsExt64_1.dll" KeyPath="yes" Source="c:\temp\windowsnoeditor\Engine\Binaries\ThirdParty\PhysX\PhysX-3.3\Win64\VS2013\nvToolsExt64_1.dll" />
                                        </Component>
                                        <Component Id="PhysX3CommonPROFILE_x64.dll" Guid="{B4AECBE0-B765-4EEE-B345-108562BEBF2F}">
                                            <File Id="PhysX3CommonPROFILE_x64.dll" KeyPath="yes" Source="c:\temp\windowsnoeditor\Engine\Binaries\ThirdParty\PhysX\PhysX-3.3\Win64\VS2013\PhysX3CommonPROFILE_x64.dll" />
                                        </Component>
                                        <Component Id="PhysX3CookingPROFILE_x64.dll" Guid="{BF4BB899-B05B-4F38-9B70-FE55EB876A04}">
                                            <File Id="PhysX3CookingPROFILE_x64.dll" KeyPath="yes" Source="c:\temp\windowsnoeditor\Engine\Binaries\ThirdParty\PhysX\PhysX-3.3\Win64\VS2013\PhysX3CookingPROFILE_x64.dll" />
                                        </Component>
                                        <Component Id="PhysX3GpuPROFILE_x64.dll" Guid="{75BB8741-C4EE-4555-81AA-D20DA2CCAA76}">
                                            <File Id="PhysX3GpuPROFILE_x64.dll" KeyPath="yes" Source="c:\temp\windowsnoeditor\Engine\Binaries\ThirdParty\PhysX\PhysX-3.3\Win64\VS2013\PhysX3GpuPROFILE_x64.dll" />
                                        </Component>
                                        <Component Id="PhysX3PROFILE_x64.dll" Guid="{311BA5BD-0689-41CC-8059-9BB5FECE7D1B}">
                                            <File Id="PhysX3PROFILE_x64.dll" KeyPath="yes" Source="c:\temp\windowsnoeditor\Engine\Binaries\ThirdParty\PhysX\PhysX-3.3\Win64\VS2013\PhysX3PROFILE_x64.dll" />
                                        </Component>
                                        <Component Id="PhysXDevice64.dll" Guid="{AC0501AF-39BF-4C7E-A7FB-1C27E044A017}">
                                            <File Id="PhysXDevice64.dll" KeyPath="yes" Source="c:\temp\windowsnoeditor\Engine\Binaries\ThirdParty\PhysX\PhysX-3.3\Win64\VS2013\PhysXDevice64.dll" />
                                        </Component>
                                    </Directory>
                                </Directory>
                            </Directory>
                        </Directory>
                        <Directory Id="Steamworks" Name="Steamworks">
                            <Directory Id="Steamv132" Name="Steamv132">
                                <Directory Id="Win64_5" Name="Win64">
                                    <Component Id="steam_api64.dll" Guid="{AC3C9650-5094-4751-914C-ECDC050CA7A2}">
                                        <File Id="steam_api64.dll" KeyPath="yes" Source="c:\temp\windowsnoeditor\Engine\Binaries\ThirdParty\Steamworks\Steamv132\Win64\steam_api64.dll" />
                                    </Component>
                                </Directory>
                            </Directory>
                        </Directory>
                        <Directory Id="Vorbis" Name="Vorbis">
                            <Directory Id="Win64_6" Name="Win64">
                                <Directory Id="VS2013_3" Name="VS2013">
                                    <Component Id="libvorbisfile_64.dll" Guid="{BF021151-14FA-40C1-B242-F6BF3D7D0911}">
                                        <File Id="libvorbisfile_64.dll" KeyPath="yes" Source="c:\temp\windowsnoeditor\Engine\Binaries\ThirdParty\Vorbis\Win64\VS2013\libvorbisfile_64.dll" />
                                    </Component>
                                    <Component Id="libvorbis_64.dll" Guid="{A87D7AAA-A2AF-44BA-BEA5-FDBA84855672}">
                                        <File Id="libvorbis_64.dll" KeyPath="yes" Source="c:\temp\windowsnoeditor\Engine\Binaries\ThirdParty\Vorbis\Win64\VS2013\libvorbis_64.dll" />
                                    </Component>
                                </Directory>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="Pre_Requisites" Name="Pre Requisites">
                <Component Id="UE4PrereqSetup_x64.exe" Guid="{AAE10FEB-7084-425F-92EE-349B6843EDBF}">
                    <File Id="UE4PrereqSetup_x64.exe" KeyPath="yes" Source="c:\temp\windowsnoeditor\Pre Requisites\UE4PrereqSetup_x64.exe" />
                </Component>
            </Directory>
            <Directory Id="SeaFoodSim48" Name="SeaFoodSim48">
                <Directory Id="Binaries_1" Name="Binaries">
                    <Directory Id="Win64_7" Name="Win64">
                        <Component Id="SeaFoodSim48_Win64_Test.exe" Guid="{5FB2DA1C-1CF0-4D1B-BFE4-51BBEEFE0766}">
                            <File Id="SeaFoodSim48_Win64_Test.exe" KeyPath="yes" Source="c:\temp\windowsnoeditor\SeaFoodSim48\Binaries\Win64\SeaFoodSim48-Win64-Test.exe" />
                        </Component>
                        <Component Id="SeaFoodSim48_Win64_Test.pdb" Guid="{D8F81C46-D6FE-4822-8FC2-A4A9C9D1B147}">
                            <File Id="SeaFoodSim48_Win64_Test.pdb" KeyPath="yes" Source="c:\temp\windowsnoeditor\SeaFoodSim48\Binaries\Win64\SeaFoodSim48-Win64-Test.pdb" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="Content" Name="Content">
                    <Directory Id="Paks" Name="Paks">
                        <Component Id="SeaFoodSim48_WindowsNoEditor.pak" Guid="{06BD9D4A-DFF2-47F4-A4C7-752B5DEDB4FD}">
                            <File Id="SeaFoodSim48_WindowsNoEditor.pak" KeyPath="yes" Source="c:\temp\windowsnoeditor\SeaFoodSim48\Content\Paks\SeaFoodSim48-WindowsNoEditor.pak" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SeafoodSimComponents">
            <ComponentRef Id="Connect_to_Server.Bat" />
            <ComponentRef Id="Manifest_DebugFiles.txt" />
            <ComponentRef Id="Manifest_NonUFSFiles.txt" />
            <ComponentRef Id="SeaFoodSim48.exe" />
            <ComponentRef Id="Leap.dll" />
            <ComponentRef Id="libogg_64.dll" />
            <ComponentRef Id="openvr_api.dll" />
            <ComponentRef Id="ApexFrameworkPROFILE_x64.dll" />
            <ComponentRef Id="APEX_ClothingPROFILE_x64.dll" />
            <ComponentRef Id="APEX_DestructiblePROFILE_x64.dll" />
            <ComponentRef Id="APEX_LegacyPROFILE_x64.dll" />
            <ComponentRef Id="APEX_LoaderPROFILE_x64.dll" />
            <ComponentRef Id="APEX_ParticlesPROFILE_x64.dll" />
            <ComponentRef Id="nvToolsExt64_1.dll" />
            <ComponentRef Id="PhysX3CommonPROFILE_x64.dll" />
            <ComponentRef Id="PhysX3CookingPROFILE_x64.dll" />
            <ComponentRef Id="PhysX3GpuPROFILE_x64.dll" />
            <ComponentRef Id="PhysX3PROFILE_x64.dll" />
            <ComponentRef Id="PhysXDevice64.dll" />
            <ComponentRef Id="steam_api64.dll" />
            <ComponentRef Id="libvorbisfile_64.dll" />
            <ComponentRef Id="libvorbis_64.dll" />
            <ComponentRef Id="UE4PrereqSetup_x64.exe" />
            <ComponentRef Id="SeaFoodSim48_Win64_Test.exe" />
            <ComponentRef Id="SeaFoodSim48_Win64_Test.pdb" />
            <ComponentRef Id="SeaFoodSim48_WindowsNoEditor.pak" />
        </ComponentGroup>
    </Fragment>
</Wix>
